body {
  text-align: center;
  background-color: lightsteelblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: lightseagreen;
}

h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 30px;
}

img {
  margin: 20px;
  padding: 30px;
  border: white 2px solid;
}

p {
  font-size: 30px;
}

.main-title {
  margin-bottom: 0;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}
